In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range(20180101, periods = 600, freq = 'D')
df = pd.DataFrame(np.random.randn(600,5), index = datas, columns = list('ABCDE'))

In [3]:
df

,A,B,C,D,E
1970-01-01 00:00:00.020180101,0.363442,-0.500939,-0.484099,-0.379389,-0.715202
1970-01-02 00:00:00.020180101,0.101561,0.531062,0.997171,0.028502,-1.139750
1970-01-03 00:00:00.020180101,0.774469,-0.687054,-0.515179,0.437076,0.230071
1970-01-04 00:00:00.020180101,-0.232649,0.273886,0.218109,0.614466,0.359391
1970-01-05 00:00:00.020180101,-0.383942,-0.171340,0.523008,0.355269,0.178744
...,...,...,...,...,...
1971-08-19 00:00:00.020180101,0.658366,0.135620,0.570773,0.132050,0.130634
1971-08-20 00:00:00.020180101,0.629106,0.301160,0.890743,-0.510184,0.002287
1971-08-21 00:00:00.020180101,0.061949,0.165244,1.626422,-1.265468,0.265357
1971-08-22 00:00:00.020180101,-0.209234,0.458671,-0.120336,-0.009030,-0.423378
1971-08-23 00:00:00.020180101,1.517485,0.942083,-0.572444,-0.614848,-1.256009

In [5]:
df[(df.A > 0) & (df.D > 0)]

,A,B,C,D,E
1970-01-02 00:00:00.020180101,0.101561,0.531062,0.997171,0.028502,-1.139750
1970-01-03 00:00:00.020180101,0.774469,-0.687054,-0.515179,0.437076,0.230071
1970-01-13 00:00:00.020180101,0.926659,0.355236,1.787894,0.027530,-0.976171
1970-01-16 00:00:00.020180101,1.138809,0.677565,-0.068880,0.700944,1.306390
1970-01-18 00:00:00.020180101,1.175948,1.317863,-0.350933,0.038234,-0.689829
...,...,...,...,...,...
1971-08-08 00:00:00.020180101,0.584264,-1.824730,0.316744,0.557963,0.799509
1971-08-09 00:00:00.020180101,1.232797,-0.373221,1.912726,1.344262,-1.020142
1971-08-12 00:00:00.020180101,1.090026,0.531794,0.522070,1.354208,-0.389161
1971-08-17 00:00:00.020180101,0.066669,-0.201523,1.732175,0.007164,-0.192488
1971-08-19 00:00:00.020180101,0.658366,0.135620,0.570773,0.132050,0.130634