In [2]:
import pandas as pd
import numpy as np

In [3]:
datas = pd.date_range('20190101', periods = 60, freq = 'D')
df = pd.DataFrame(np.random.randn(60, 5), index = datas, columns = list('ABCDE'))

In [5]:
df.shape

(60, 5)

In [7]:
df.head(3)

                   A         B         C         D         E
2019-01-01  1.320878 -1.824304  1.536302  0.357130  0.098508
2019-01-02  0.415295  0.642372  0.092045 -1.611208 -0.487469
2019-01-03 -1.412631 -0.422826  0.484331 -0.105694  1.441711

In [12]:
df['F'] = 1 #adicionando um coluna com todos os valores igual a 1

In [13]:
#df['F'] = [10, 9, 8 ... ] -> deve conter o mesmo n√∫mero de linhas

In [15]:
df.head(5)

                   A         B         C         D         E  F
2019-01-01  1.320878 -1.824304  1.536302  0.357130  0.098508  1
2019-01-02  0.415295  0.642372  0.092045 -1.611208 -0.487469  1
2019-01-03 -1.412631 -0.422826  0.484331 -0.105694  1.441711  1
2019-01-04  0.858919 -0.547784 -0.407837  2.199406 -0.621216  1
2019-01-05  0.891647 -0.324052  1.895394  0.439976  1.363716  1

In [18]:
df['G'] = range(60)
df.head(10)

                   A         B         C         D         E  F  G
2019-01-01  1.320878 -1.824304  1.536302  0.357130  0.098508  1  0
2019-01-02  0.415295  0.642372  0.092045 -1.611208 -0.487469  1  1
2019-01-03 -1.412631 -0.422826  0.484331 -0.105694  1.441711  1  2
2019-01-04  0.858919 -0.547784 -0.407837  2.199406 -0.621216  1  3
2019-01-05  0.891647 -0.324052  1.895394  0.439976  1.363716  1  4
2019-01-06 -1.829462 -0.633125  0.128501  2.034394 -0.838265  1  5
2019-01-07 -0.169206  0.311573 -0.481870 -1.096678  1.056165  1  6
2019-01-08 -1.854539 -0.323562 -0.021515 -0.153876  0.114600  1  7
2019-01-09 -0.143872 -0.761873 -1.630293  0.601163 -0.448285  1  8
2019-01-10 -2.150827  0.867547 -0.228261 -0.132128 -0.171457  1  9

In [20]:
df['Produto'] = df['A'] * df['B']

In [21]:
df.head(15)

                   A         B         C         D         E  F   G   Produto
2019-01-01  1.320878 -1.824304  1.536302  0.357130  0.098508  1   0 -2.409683
2019-01-02  0.415295  0.642372  0.092045 -1.611208 -0.487469  1   1  0.266774
2019-01-03 -1.412631 -0.422826  0.484331 -0.105694  1.441711  1   2  0.597297
2019-01-04  0.858919 -0.547784 -0.407837  2.199406 -0.621216  1   3 -0.470502
2019-01-05  0.891647 -0.324052  1.895394  0.439976  1.363716  1   4 -0.288940
2019-01-06 -1.829462 -0.633125  0.128501  2.034394 -0.838265  1   5  1.158277
2019-01-07 -0.169206  0.311573 -0.481870 -1.096678  1.056165  1   6 -0.052720
2019-01-08 -1.854539 -0.323562 -0.021515 -0.153876  0.114600  1   7  0.600058
2019-01-09 -0.143872 -0.761873 -1.630293  0.601163 -0.448285  1   8  0.109612
2019-01-10 -2.150827  0.867547 -0.228261 -0.132128 -0.171457  1   9 -1.865944
2019-01-11  0.878599  1.972062  0.336799  0.072806  0.438181  1  10  1.732652
2019-01-12  0.720506  0.699167  0.504922  0.822528 -0.664392  1  11  0.503754
2019-01-13  0.003246 -0.594716  0.532613  1.412550 -0.970275  1  12 -0.001930
2019-01-14 -0.756702 -0.675546  0.724344  0.725646  2.237401  1  13  0.511187
2019-01-15 -0.798644 -0.460798  0.672408 -0.680701 -0.525704  1  14  0.368013